@import "tailwindcss";
@import "tailwindcss/preflight"
@tailwind utilities;

@theme {
    --color-igem-black: #171717;
    --color-igem-dred: #761113;
    --color-igem-red: #c12126;
    --color-igem-white: #ffffff;
    --color-igem-blue: #669bbc;
    --color-igem-dblue: #003049;
}